h1{
  color: white;
  font-size: 130px;
  font-family: fantasy;
}

header{
height: 100px;
padding-top: 0px;
<p style="background-image:url('T03978_10.jpg')"


}

.text{
  position: relative;
  bottom: 230px;
  left:10px;
  padding-left:10px
  padding-right: 40px;

}

.navtext{
  position:relative;
  background-color: #ED2D1A;

}
